/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    font-style: normal;
}

/*Root Style*/
:root{
    /*Tipography and font Size*/
    --normal-text: 1rem;
    --font-18: 1.125rem;
    --font-20: 1.25rem;
    --font-24: 1.5rem;
    --font-28: 1.75rem;
    --heading-3 : 2rem;
    --heading-2 : 2.5rem;
    --heading-1 : 4rem;

    /*Color*/
    --text-white: #fff;
    --text-black: #131318;
    --text-orange: #ff5400;
    --text-gray: rgba(19, 19, 24, 0.50);
    --text-dark-gray: #5A5A5D;

}

/*Re-useable Style*/
section{
    max-width: 81.25%;
    margin: 0 auto;
}
li{
    list-style: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
}

.brand{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.brand h1{
    font-size: var(--heading-1);
    font-weight: 800;  
}

.brand img{
    width: 48px;
height: 56.008px;
}

.nav-link ul{
    display: flex;
    font-size: var(--font-18);
    font-weight: 700;
    text-align: center;
    column-gap: 44px;
    align-items: center;
}

.menubar{
    display: none;
}