/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    font-style: normal;
}

/*Root Style*/
:root{
    /*Tipography and font Size*/
    --normal-text: 1rem;
    --font-18: 1.125rem;
    --font-20: 1.25rem;
    --font-24: 1.5rem;
    --font-28: 1.75rem;
    --heading-3 : 2rem;
    --heading-2 : 2.5rem;
    --heading-1 : 4rem;

    /*Color*/
    --text-white: #fff;
    --text-black: #131318;
    --text-orange: #ff5400;
    --text-gray: rgba(19, 19, 24, 0.50);
    --text-dark-gray: #5A5A5D;

}

/*Re-useable Style*/
section{
    max-width: 81.25%;
    margin: 0 auto;
}

.nav-link ul li{
    list-style: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
}

.brand{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.brand h1{
    font-size: var(--heading-1);
    font-weight: 800;  
}

.brand img{
    width: 48px;
height: 56.008px;
}

.nav-link ul{
    display: flex;
    font-size: var(--font-18);
    font-weight: 700;
    text-align: center;
    column-gap: 44px;
    align-items: center;
}

.menubar{
    display: none;
}

/*Banner Section*/
.banner-content{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;  
    border-radius: 16px;
    
}

.banner-content h1{
    color: var(--text-white);
    font-size: var(--heading-1);
    padding-top: 106px;
    font-weight: 800;
}

.banner-content p{
    width: 676px;
    color: #FFF;
    font-weight: 400;
    line-height: 26px;
    font-size: var(--normal-text);
    margin: 0 auto;
    padding-top: 1.5rem;
}

.banner-form {
    position: absolute;
    /* left: calc(1170px - 800px); */
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
align-items: center;
}  

.tour-container{
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}

.tour-container h2{
    font-size: var(--heading-2);
    color: var(--text-black);
    font-weight: 800;
    padding-bottom: 1.5rem;
    
}
.tour-container p, .tour-container ul>li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.tour-container p{
    padding-bottom: 1.5rem;
}
.tour-container ul> li{
    padding-bottom: 1.5rem;
}
.btn{
    color: #FFF;
    font-size: var(--font-20);
    font-weight: 800;
    padding: 1rem 2rem;
    background-color: var(--text-orange);
    border-radius: 8px;
    border: none;
}